# CODEOWNERS

# Default owner for everything
* @skyoo2003

# CLI
/cmd/ @skyoo2003

# Internal packages
/internal/ @skyoo2003

# Public packages
/pkg/ @skyoo2003
/api/ @skyoo2003

# Documentation
/website/ @skyoo2003

# CI/CD and GitHub config
/.github/ @skyoo2003

# Build and release
/build/ @skyoo2003
/Makefile @skyoo2003
