# OS
.DS_Store
Thumbs.db

# IDE
*.iml
*.swp
.vscode/
.idea/

# Go
vendor/
/kvs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
coverage.html

# GoReleaser
dist/

# Hugo
/public/
/resources/
/.hugo_build.lock
