# OS
.DS_Store
Thumbs.db

# IDE
*.iml
*.swp
.vscode/
.idea/
.serena/

# Go
vendor/
/kvs
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
coverage.html

# GoReleaser
dist/

# Hugo
/website/public/
/website/resources/
/website/.hugo_build.lock
