<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
  <header>
    <nav>
      <a href="{{ .Site.Home.RelPermalink }}" class="logo">KVS</a>
      {{ range .Site.Menus.main }}
      <a href="{{ .URL | relURL }}" {{ if eq $.RelPermalink .URL }}class="active"{{ end }}>{{ .Name }}</a>
      {{ end }}
    </nav>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    <p>&copy; 2020-2021 Sung-Kyu Yoo &middot; MIT License</p>
  </footer>
</body>
</html>
